@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  overflow-x: hidden;
}
.mouse-circle {
  position: fixed;
  height: 20px;
  width: 15px;
  background-color: #0ef;
  border-radius: 50%;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position:absolute; */
  padding: 20px 30px;
  height: 3vh;
  background-color: black;
}
.logo img {
  height: 70px;
  /* color: white; */
}
.nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
}
.nav-part2 a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}
.nav-part2 a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid #0ef;
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: 0.5s;
}
.nav-part2 a:hover {
  color: #0ef;
}
.nav-part2 a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
  /* color:#0ef; */
}

.section1 {
  height: 91.7vh;
  width: 100vw;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?q=80&w=1796&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
}
.name-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dell {
  font-size: 60px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
  color: #fffae6;
  /* cursor: pointer; */
  text-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black, 0 0 80px black,
    0 0 120px black, 0 0 160px black;
}

h1 span {
  display: inline;
}
.ri-menu-2-fill {
  color: white;
  font-size: 20px;
  display: none;
}
.content {
  height: 100vh;
  width: 30%;
  top: 0;
  right: -30%;
  /* border:2px solid black; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.444);
  backdrop-filter: (30px);
  /* display: none; */
}

@media only screen and (max-width: 600px) {
  /* for first page */
  .name-2 {
    flex-direction: column;
  }
  .nav-part2 {
    display: none;
  }

  .ri-menu-2-fill {
    display: block;
    font-size: 30px;
    font-weight: 500;
  }
  .ri-menu-2-fill:hover {
    cursor: pointer;
  }
  .ri-close-fill {
    font-size: 30px;
    font-weight: 500;
  }
  .content {
    position: absolute;
    display: block;
    top: 0;
    right: -30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.444);
    backdrop-filter: (30px);
    height: 100vh;
    width: 30%;
  }
  .content i {
    position: absolute;
    top: 2%;
    right: 2%;
    border: 2px solid rgb(27, 25, 25);
    border-radius: 50%;
    cursor: pointer;
    /* color: red; */
  }
  .content a {
    text-decoration: none;
    font-size: 3vh;
    color: black;
  }
  .mouse-circle {
    display: none;
  }
}
.services {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  /* border:2px solid white; */
  /* top: -30%; */
  /* position: relative; */
  overflow: hidden;
}
.box1 h1 {
  font-size: 50px;
  font-weight: 500;
  color: azure;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.box1 h1 span {
  display: inline-block;
  
}
.box2-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width:60%; */
  /* border: 2px solid white; */
}
.box2 {
  margin-top:40px;
  /* position: relative; */
  /* border: 2px solid white; */
}


.box2 p {
  color: white;
  text-align: center;
  font-size: 20px;
  /* width:50%;
   */
  /* padding:20px 30px; */
  position: relative;
  margin-left: 30%;
  margin-right: 30%;

}
.string{
  background-color: black;
  height:480px;
  width:100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
svg{
  background-color: black;
  height:480px;
}
.about-us{
  height:100vh;
  width:100vw;
  background-color: #fffae6;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap:50px;
}
.about{
  margin-top: 30px;
  font-size: 40px;
  font-weight: 500;
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;

}
/* styling for caard */
.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  
}
@media only screen and (max-width: 987px){
  .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:6rem;
    gap:4rem;
  }
}
.container {
  width: 350px;
  height: 350px;
  perspective: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  
  background-size: cover;
  background-position: center;
  
}
.front img{
  height:100%;
  width:100%;
  position: absolute;
  border-radius: 2rem;
  border:2px solid black;
}
.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

